* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#add {
  padding: 18px 13vw;
  background-color: #1d75dc;
  color: white;
}

#add article main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 15px 13vw;
  background-color: black;
  color: white;
}

header article main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header article main .hamberber {
  font-size: 30px;
  font-weight: bold;
  display: none;
}

header article main nav ul {
  display: flex;
  list-style-type: none;
  gap: 2vw;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.circle-1 {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
  left: 300px;
  bottom: -100px;
}
.circle-2 {
  height: 400px;
  width: 400px;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
  left: 100px;
}
.circle-3 {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
  right: 0;
  top: -200px;
}

#mobile-section {
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
  color: white;
  position: relative;
  overflow: hidden;
  padding: 0 18vw;
  padding-top: 100px;
}

#mobile-section article {
  position: relative;
}

#mobile-section article main {
  display: flex;
  gap: 60px;
}

#mobile-section article main .mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  padding: 30px 10px 0 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#mobile-section article main .mobile :first-child {
  height: 10px;
  width: 100px;
  background-color: rgb(237, 232, 232);
  border-radius: 20px;
}

#mobile-section article main .mobile + div > p {
  font-size: 60px;
  font-weight: bold;
}
section.why-spotify {
  padding: 10vw 10vw;
  font-size: 20px;
}
.why-spotify h5 {
  text-align: center;
  padding-bottom: 10vw;
  font-size: 50px;
  font-weight: bold;
}
section.why-spotify article main div {
  display: flex;
  gap: 3vw;
}
section.why-spotify main div.card-block {
  display: flex;
  flex-wrap: wrap;
}

section.why-spotify main div.card-block .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 20%;
  margin: auto;
}

section.why-spotify article main div.card-para {
  display: flex;
  flex-direction: column;
}

section.why-spotify article main div.card-para p:first-child {
  font-size: 25px;
  font-weight: bold;
}
section.why-spotify article main div.img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-image: linear-gradient(rgb(240, 55, 166), rgb(108, 14, 224));
  display: flex;
  align-items: center;
  justify-content: center;
}
section.why-spotify article main span.white-circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
}

/* DOUBT */
section.why-spotify article main span.triangle {
  height: 80px;
  width: 80px;
}
section.why-spotify article main span.thunder {
  background-image: url("/thunder.jpg");
  background-size: cover;
  position: relative;
  height: 50px;
  width: 50px;
}

/* DOUBT */
#no-credit {
  background-image: linear-gradient(rgb(240, 55, 166), rgb(108, 14, 224));
  color: white;
}

#no-credit article main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#no-credit article main div p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#got_questions {
  padding: 70px 13vw;
}

#got_questions article main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#got_questions article h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 2vh;
}

#got_questions article main h3:hover {
  text-decoration: underline;
}

#got_questions article main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#got_questions article main p {
  display: none;
}

#got_questions article main div .uparrow {
  display: none;
}

span {
  color: green;
  font-weight: bold;
}
#letsplay article {
  padding-top: 18vw;
  font-size: 50px;
  /* color: #fff; */
}
#letsplay {
  height: 40vw;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
}
button {
  padding: 18px;
  border-radius: 30px;
  margin-top: 30px;
  font-weight: bold;
  border-style: none;
}

#letsplay article {
  position: relative;
}
.circle {
  border-radius: 50%;
  position: absolute;
}
.circle-4 {
  height: 60px;
  width: 60px;
  top: 350px;
  left: 150px;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
}
.circle-5 {
  height: 600px;
  width: 600px;
  bottom: 450px;
  /* background-color: aquamarine; */
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
}
.circle-6 {
  height: 450px;
  width: 450px;
  left: 600px;
  top: 250px;
  /* background-color: #1d75dc; */
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
}
.circle-7 {
  height: 700px;
  width: 700px;
  background-color: yellow;
  left: 800px;
  bottom: 200px;
  background-image: linear-gradient(#b023c2, #9c1dca, #7210de);
}
footer {
  padding: 70px 13vw;
  background-color: black;
  color: white;
  justify-content: baseline;
}

footer article {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

footer article main.first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer article main.first nav ul:first-of-type {
  font-weight: lighter;
}
footer article main nav ul li:hover {
  background-color: green;
}
footer article main.first nav h5 {
  margin-bottom: 20px;
}
footer article main.first nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer article main.last {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer article main.last :first-child {
  text-align: right;
}
footer article main.last :last-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

footer article main.last div nav ul {
  display: flex;
  gap: 20px;
}

footer article main.last div nav ul li {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  header {
    position: relative;
  }
  header nav {
    background-color: black;
    position: absolute;
    width: 70vw;
    bottom: -50vh;
    transition: all 2s;
    z-index: 10;
  }

  header nav ul {
    padding: 10vh 7vw;
    flex-direction: column;
  }

  header article main .hamberber-1 {
    display: block;
  }
  /* hamberger-2 is still display-none , we will display-block hamberger-2 on click of hamberger-1*/

  #mobile-section article main .mobile {
    display: none;
  }

  footer article main.first {
    gap: 20px;
  }
  footer article main.first nav {
    flex-basis: 100%;
  }
  footer article main.first nav h5 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
